body, html {
	margin:0; 
  	padding:0; 
  	height:100%; 
}

.preloader.show {
	background-color: #ab7efa;
	width: 0%;
}

.preloader.hide {
	background-color: #a6e22f;
	width: 100%;
}

.hidden {
	visibility: hidden;
	display: none;
}

.view-game {
	display: block;
    position: absolute;
    height: auto;
    bottom: 0; top: 0; left: 0; right: 0;
    background-color: #F3EFE0;
}

.game-controls {
	z-index: 2;
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	background-color: #9A3334;
	border-radius: 5px;

	/*opacity: 0.3;*/
}

.game-scene {
	position: absolute;
	display: table;
	float: left;
	margin-right: 10px;
	background-color: #217C7E;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	box-shadow: 0 0 10px;
	border-radius: 5px;
}

.spinContainer {
	display: table-cell;
	vertical-align: middle; 
	text-align:center; 
}

.controlsContainer {
	width: 100%;
	vertical-align: middle;
	text-align: center;
	top: -50px;
}

.win-animation {
	vertical-align: middle;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: #F3EFE0;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
	width: 100%;
	margin-top: 55px;
	line-height: 20px;	
}

.components {
	position: absolute;
	bottom: 10px;
	width: 100%;
	margin: 0 auto;
}

.game-scene .spin {
	overflow: hidden;
	display: inline-block;
	height: 155px;
}

.game-scene .spin .slot{
	float: left;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}

.game-scene .spin .slot li{
	width: 205px;
	line-height: 155px;
}

.btn {
	background: url("../img/BTN_Spin.png") scroll 0 0 transparent;
	border: 0px solid transparent;
	width: 51px;
    height: 51px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 1px;
}

button:focus {
    outline: none;
}

@media only all and (min-device-width: 481px) {
	.game-scene .spin img {
		transform: scale(1.7);
	    -webkit-transform: scale(1.7);
	    -o-transform: scale(1.7);
	    -moz-transform: scale(1.7);
	}
}

@media only all and (max-device-width: 480px) {
	.game-scene {
		width: 480px;
		height: 320px;
		top: 0;
		left: 0;
		border-radius: 0px;
		box-shadow: 0;
	}

	.game-controls {
		width: 480px;
		height: 320px;
		top: 0;
		left: 0;
		border-radius: 0px;
	}

	.win-animation {
		line-height: 30px;
		margin-top: 80px;
	}

	.components {
		bottom: 30px;
	}
	
	.game-scene .spin {
		height: 78px;
	}

	.game-scene .spin .slot li{
		width: 148px;
		height: 78px;
		line-height: 78px;
	}
}
